default: &default
  adapter: postgresql
  encoding: unicode
  host:     localhost
  username: 
  password: 
  port:     5432
  pool:     5

development:
  <<: *default
  database: apishub_development

test:
  <<: *default
  database: apishub_test

production:
  <<: *default
  database: apishub_production
